@import "tailwindcss";

:root {
  --background: #f7f8fa;
  --foreground: #171717;

  /* === Scholera Color Palette === */
  --scholera-sky: #c3ebfa;
  --scholera-sky-light: #edf9fd;

  --scholera-purple: #cfceff;
  --scholera-purple-light: #f1f0ff;

  --scholera-yellow: #fae27c;
  --scholera-yellow-light: #fefce8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* === Scholera Color Palette === */
  --color-scholera-sky: var(--scholera-sky);
  --color-scholera-sky-light: var(--scholera-sky-light);

  --color-scholera-purple: var(--scholera-purple);
  --color-scholera-purple-light: var(--scholera-purple-light);

  --color-scholera-yellow: var(--scholera-yellow);
  --color-scholera-yellow-light: var(--scholera-yellow-light);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #f7f8fa;
    --foreground: #171717;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-background text-foreground font-sans;
  }

  .action-btn {
    @apply w-8 h-8 flex items-center justify-center rounded-full bg-scholera-yellow;
  }

  .action-btn-table {
    @apply w-7 h-7 flex items-center justify-center rounded-full;
  }

  .pagination-btn {
    @apply py-2 px-4 rounded-md bg-slate-200 text-xs font-semibold disabled:opacity-50 disabled:cursor-not-allowed;
  }

  .user-info {
    @apply w-full md:w-[48%] lg:w-full 2xl:w-[48%] flex items-center gap-2 text-wrap;
  }

  .user-performance {
    @apply bg-white shadow-xs py-2 px-3 rounded-md flex gap-3 w-full md:w-[48%] xl:w-[45%] 2xl:w-[48%];
  }
}

/* Scrollbar Styling */
.sidebar {
  --sb-track-color: #e5e9f1;
  --sb-thumb-color: #6baf8d;
  --sb-size: 5px;
}

.sidebar::-webkit-scrollbar {
  width: var(--sb-size);
}

.sidebar::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 15px;
}

.sidebar::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 15px;
}

@supports not selector(::-webkit-scrollbar) {
  .sidebar {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

/* Hide Scrollbar */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

/* React Calendar Styling */
.react-calendar {
  width: 100% !important;
  border: none !important;
  font-family: "Inter", sans-serif !important;
}

.react-calendar__navigation__label__labelText {
  font-weight: 600;
}

.react-calendar__tile--active {
  background-color: #c3ebfa !important;
  color: black !important;
}

.rbc-btn-group:first-child {
  display: none !important;
}

.rbc-toolbar-label {
  text-align: right !important;
  padding: 0px 20px !important;
}

.rbc-btn-group:last-child {
  font-size: 13px !important;
}

.rbc-btn-group:last-child button {
  border: none !important;
  background-color: #f1f0ff !important;
  margin-left: 2px !important;
}

.rbc-toolbar button.rbc-active {
  background-color: #dbdafe !important;
  box-shadow: none !important;
}

.rbc-time-view {
  border-color: #eee !important;
}

.rbc-time-header {
  display: none !important;
}

.rbc-time-content {
  border: none !important;
}

.rbc-time-gutter.rbc-time-column {
  font-size: 12px !important;
}

.rbc-time-gutter.rbc-time-column .rbc-timeslot-group {
  padding: 0px 20px !important;
}

.rbc-timeslot-group {
  background-color: #f7fdff !important;
}

.rbc-day-slot {
  font-size: 14px !important;
}

.rbc-event {
  border: none !important;
  color: black !important;
  padding: 10px !important;
  margin: 10px !important;
  width: 99% !important;
}

.rbc-event:nth-child(1) {
  background-color: #e2f8ff !important;
}
.rbc-event:nth-child(2) {
  background-color: #fefce8 !important;
}
.rbc-event:nth-child(3) {
  background-color: #f2f1ff !important;
}
.rbc-event:nth-child(4) {
  background-color: #fdf2fb !important;
}
.rbc-event:nth-child(5) {
  background-color: #e2f8ff !important;
}
.rbc-event:nth-child(6) {
  background-color: #fefce8 !important;
}
.rbc-event:nth-child(7) {
  background-color: #f2f1ff !important;
}
.rbc-event:nth-child(8) {
  background-color: #fdf2fb !important;
}

.rbc-event-label {
  color: gray !important;
  margin-bottom: 5px;
}

.pagination-btn {
  @apply px-3 py-1.5 text-sm font-medium rounded-md border border-gray-300 transition-colors;
}

.pagination-btn:hover:not(:disabled) {
  @apply bg-gray-50;
}

.pagination-btn:disabled {
  @apply opacity-50 cursor-not-allowed;
}

/* Custom Loader */
.custom-loader {
  width: 50px;
  height: 50px;
  display: grid;
}
.custom-loader::before,
.custom-loader::after {
  content: "";
  grid-area: 1/1;
  --c: radial-gradient(farthest-side, #fae27c 92%, #0000);
  background:
    var(--c) 50% 0,
    var(--c) 50% 100%,
    var(--c) 100% 50%,
    var(--c) 0 50%;
  background-size: 12px 12px;
  background-repeat: no-repeat;
  animation: s2 1s infinite;
}
.custom-loader::before {
  margin: 4px;
  filter: hue-rotate(45deg);
  background-size: 8px 8px;
  animation-timing-function: linear;
}

@keyframes s2 {
  100% {
    transform: rotate(0.5turn);
  }
}
