@import "tailwindcss";

:root {
  --background: #f7f8fa;
  --foreground: #171717;

  /* === Scholera Color Palette === */
  --scholera-sky: #c3ebfa;
  --scholera-sky-light: #edf9fd;

  --scholera-purple: #cfceff;
  --scholera-purple-light: #f1f0ff;

  --scholera-yellow: #fae27c;
  --scholera-yellow-light: #fefce8;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* === Scholera Color Palette === */
  --color-scholera-sky: var(--scholera-sky);
  --color-scholera-sky-light: var(--scholera-sky-light);

  --color-scholera-purple: var(--scholera-purple);
  --color-scholera-purple-light: var(--scholera-purple-light);

  --color-scholera-yellow: var(--scholera-yellow);
  --color-scholera-yellow-light: var(--scholera-yellow-light);
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #f7f8fa;
    --foreground: #171717;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply bg-background text-foreground font-sans;
  }
}

/* Scrollbar Styling */
.sidebar {
  --sb-track-color: #e5e9f1;
  --sb-thumb-color: #6baf8d;
  --sb-size: 5px;
}

.sidebar::-webkit-scrollbar {
  width: var(--sb-size);
}

.sidebar::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 15px;
}

.sidebar::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 15px;
}

@supports not selector(::-webkit-scrollbar) {
  .sidebar {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

/* Hide Scrollbar */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE & Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}
